main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}

main img {
	margin-bottom: 20px;
}

main img:nth-child(1) {
	filter: blur(10px);
}

main img:nth-child(3) {
	filter: sepia(90%);
}

main img:nth-child(even) {
	filter: grayscale(100%);
}

@media ( min-width: 900px ) {
	main {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		background: #d5c75f;
	}
	
	main img {
		width: 31%;
	}
}